html,
body { height: 100%; }

body {
  background:
    radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(229, 229, 229, .85) 100%
    );
  background-position: center;
}

.pipe {
  color: #ddd;
}

/* Consistent compactness */

html {
  font-size: 0.875rem;
}

.btn-sm,
.btn-group-sm .btn {
  font-size: 1rem;
  overflow: hidden;
  padding-bottom: 0.1875rem;
  padding-top: 0.1875rem;
}
